.card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.card-buttons button {
    margin-bottom: 5px;
}

.recipe-card img {
    height: 200px; /* Set the desired height for all images */
    object-fit: cover;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.card-buttons button {
    margin-bottom: 5px;
}